<!DOCTYPE html>
<html>
  <head>
    <title>Hip Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>
		<%= yield %>
	</body>
</html>