<!DOCTYPE html>
<html>
  <head>
    <title>Hip Title</title>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>

		<%= yield %>
	</body>
</html>