<div id="highchart-chart" style="height: 500px; min-width: 500px"></div>
<script>
var datasets = [
  <% hash = parse_scans
     hash.each do |day, amount| %>
    [<%="#{day}"%>,<%="#{amount}"%>]
    <% unless hash.keys.last == day %>,<%end%>
  <% end %>
];

$('#highchart-chart').highcharts('StockChart', {
  rangeSelector : {
    selected : 1,
    buttons: [{
      type : 'minute',
      count : 10,
      text : '10m'
    }, {
      type : 'hour',
      count : 1,
      text : '1H'
    }, {
      type : 'day',
      count : 1,
      text : '1D'
    }, {
      type : 'day',
      count : 7,
      text : '1W'
    },{
      type: 'month',
      count: 1,
      text: '1m'
    }, {
      type: 'month',
      count: 3,
      text: '3m'
    }, {
      type: 'month',
      count: 6,
      text: '6m'
    }, {
      type: 'ytd',
      text: 'YTD'
    }, {
      type: 'year',
      count: 1,
      text: '1y'
    }, {
      type: 'all',
      text: 'All'
    }]
  },

  title : {
    text : 'Profit over time'
  },
  series : [{
    name : 'Profit',
    data : datasets,
    tooltip: {
      valueDecimals: 2
    }
  }]
});
function checkUpdates(){
  $.ajax({
      url: '/net-profit-data',
      success: function(data) {
        var dataObject = JSON.parse(data);
        $.each(dataObject, function(i, amount){
          var chart = Highcharts.charts[0];
          $.grep(chart.series[1].data, function(e){ return e.x == i; })[0].update(parseInt(amount));
          $.grep(chart.series[0].data, function(e){ return e.x == i; })[0].update(parseInt(amount));
        });
      },
      cache: false
  });
}
$(document).ready(function() {
    setInterval("checkUpdates()", 1000);  // Calls the function every 3 seconds
});
</script>