<% @items.each_slice(4) do |items| %>
    <div class="row">
        <% items.each do |item| %>
        <div id="<%=item.upc %>" class="span3"></div>
        <%end%>
    </div>
<% end %>
<script>
var charts = [],
    $containers = $('.row div.span3'),
    datasets = [
    <% @items.each do |item| %>
        {
            name: "<%= item.name %>",
            data:[['Purchased', <%= item.inventory.sold %>],
                  ['Not Purchased', <%= item.inventory.amount - item.inventory.sold %> ] ]
        }<% unless @items.last == item %>, <%end%>
    <% end %>
    ];

$.each(datasets, function(i, dataset){
    charts.push(new Highcharts.Chart({
        chart :{
            renderTo: $containers[i],
            type: 'pie'
        },
        title:{
            useHTML: true,
            style: {
                'white-space': 'normal'
            },
            align: 'left',
            text: dataset.name
        },
        tooltip: {

            pointFormat: 'Amount: <b>{point.y}</b>',
            percentageDecimals: 1
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                }
            }
        },
        series: [dataset]

    }));
});
</script>